<ion-view view-title="Posts" ng-init="getPosts()" cache-view="false">
	<ion-nav-buttons side="right">
    <a class="button button-icon icon ion-person" href="#/perfil"></a>
  </ion-nav-buttons>
  	
	<ion-content>

		<ion-refresher on-refresh="getPosts()" pulling-icon="ion-refresh"></ion-refresher>
		
  		<div class="col-md-3 col-sm-2"></div>
  		<div class="col-md-6 col-xs-12 col-sm-8 no-padding">
    		<div class="list card">

			  <div class="item item-body">
			    <textarea cols="30" rows="4" class="col" ng-model="postagem.descricao" placeholder="Deixe aqui uma mensagem">
			    </textarea> 
			  </div>

			  <div class="item item-body center" ng-if="postagem.erro">
			    <span class="error">{{postagem.erro}}</span>	    
			  </div>

			  <div class="item tabs tabs-secondary tabs-icon-left tabs-positive">
			    <a class="tab-item" ng-click="novoPost(postagem)">
			      <i class="icon ion-close-circled"></i>
			      Limpar
			    </a>
			    <a class="tab-item" ng-click="postPost(postagem)">
			      <i class="icon ion-chatbox"></i>
			      Postar
			    </a>
			  </div>

			</div>
				
		    <div class="list card" ng-repeat="post in posts | orderBy: post.data : true">

			  <div class="row item">
			    <span class="col-75">{{post.usuario.nome}}</span>
			    <span class="col-25">{{post.data | date: 'dd/MM/yyyy'}}</span> 
			  </div>

			  <div class="item item-body" on-hold="popoverPost($event, post)" ng-click="">
			    <p>
			      {{post.descricao}}
			    </p>
			    <p ng-show="post.comentarios.length" ng-click="mostrarComentario(post._id)">
			      <a href="#" class="subdued" ng-if="post.comentarios.length == 1">
			      	{{post.comentarios.length}} Comentário
			      </a>
			      <a href="#" class="subdued" ng-if="post.comentarios.length > 1">
			      	{{post.comentarios.length}} Comentários
			      </a>
			    </p>
			  </div>

			  <div class="item item-body no-margin no-padding" ng-show="mostrandoComentario[post._id]">
			    <div class="list list-inset no-margin" ng-repeat="comentario in post.comentarios">
			    	<div class="item" on-hold="popoverComentario($event, comentario, post._id)" ng-click="">
				    	<p class="no-margin">
				    		<strong>{{comentario.usuario.nome}}</strong>
				    		<span>{{comentario.comentario}}</span>
				    	</p>
			    	</div>
			    </div>
			  </div>

			  <div class="item tabs tabs-secondary tabs-icon-left tabs-positive">
			    <a class="tab-item" ng-click="postComentario(post)">
			      <i class="icon ion-chatbox"></i>
			      Comentar
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i>
			      Compartilhar
			    </a>
			  </div>

			</div>
		</div>	
  		<div class="col-md-3 col-sm-2"></div>
	</ion-content> 
</ion-view>