<ion-view view-title="Perfil" ng-init="initPerfil()" cache-view='false'>
  <ion-content class="padding">

  	<div class="col-md-3 col-sm-2"></div>
  	<div class="col-md-6 col-xs-12 col-sm-8 no-padding">
	    <div class="list card">

		<div class="item item-body">
		    <h2><strong>Nome: </strong>{{usuario.nome}}</h2>
		    <h2><strong>Email: </strong>{{usuario.email}}</h2>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left tabs-positive">
		    <a class="tab-item" ng-click="popupPerfil()">
		      <i class="icon ion-edit"></i>
		      Alterar Perfil
		    </a>
		    <a class="tab-item" ng-click="popupSenha()">
		      <i class="icon ion-locked"></i>
		      Alterar Senha
		    </a>
		  </div>

		</div>

		<button class="button button-block button-assertive icon-right ion-log-out" ng-click="sair()">	Sair
		</button>
	</div>	
	<div class="col-md-3 col-sm-2"></div>
  </ion-content>
</ion-view>