<div class="list">
  <label class="item item-input item-stacked-label">
    <strong class="input-label">Senha Antiga</strong>
    <input type="password" ng-model="usuarioE.senha" required>
  </label>
  <label class="item item-input item-stacked-label">
    <strong class="input-label">Nova Senha</strong>
    <input type="password" ng-model="usuarioE.nova" required>
  </label>
  <label class="item item-input item-stacked-label">
    <strong class="input-label">Confirmar Nova Senha</strong>
    <input type="password" ng-model="usuarioE.confirmar" required>
  </label>
  <p class="error center-align" ng-show="usuarioE.erro">
  	{{usuarioE.erro}}
  </p>
</div>