/* Empty. Add your own CSS if you like */
.background{background-color: #eeeeee;}.center, .center-align {text-align: center;}.center-div{margin: 0 auto;}.back-positive{background-color: #387ef5;}.border-white{border-color: #fff !important;}.error{color: red;font-size: 14px;margin-top: 10px; text-align: center;}
textarea{font-size: 14px !important; resize: none; border: 1px solid #bdbdbd;}
.no-margin{margin: 0 !important;}
.no-padding{padding: 2px !important;}
.comentario-popover{
	height: 110px;
}
.platform-ios .comentario-popover{
	height: 130px;
	overflow: hidden !important;
}
.item.activated{
	background-color: #bdbdbd !important;
}
.popup-perfil .popup{
	background-color: #FFF;
}

html{
	overflow: auto !important;
}

.platform-browser, 
.platform-browser > .view-container > .pane, 
.platform-browser:not(.platform-android):not(.platform-ios) > .view-container > .pane > .scroll-content{
	overflow: inherit !important;
}
